<?xml version="1.0" encoding="utf-8" ?>
<!-- enable debug to get debugging messages from log4net -->
<log4net debug="true">

  <param name="MailNotificationLevel" value="Warn" />
  <param name="AlwaysNotifyByMailOnException" value="true" />

  <!-- Loggers -->

  <root>
    <level value="ALL" />
    <appender-ref ref="Trace" />
    <!--<appender-ref ref="AspTrace" />-->
    <!--<appender-ref ref="EventLogAppender" />-->
    <!--<appender-ref ref="Mail" />-->
    <appender-ref ref="BlobStorage" />
    <appender-ref ref="ColoredConsole" />
    <appender-ref ref="RollingFile" />
    <appender-ref ref="UdpAppender" />
  </root>

  <logger name="FileLogger">
    <level value="ALL" />
    <appender-ref ref="RollingFile" />
  </logger>

  <logger name="MailLogger">
    <level value="ALL" />
  </logger>


  <!-- Default Appenders -->

  <appender name="Trace" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate [%-5thread] [%-5level] %logger - %message - %property{caller}%newline%exception" />
    </layout>
  </appender>

  <appender name="ColoredConsole" type="log4net.Appender.ColoredConsoleAppender">
    <target value="Console.Error" />
    <mapping>
      <level value="FATAL" />
      <foreColor value="Red" />
      <backColor value="White" />
    </mapping>
    <mapping>
      <level value="ERROR" />
      <foreColor value="Red, HighIntensity" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="Cyan" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <foreColor value="Green" />
    </mapping>
    <layout type="log4net.Layout.SimpleLayout" />
  </appender>

  <!-- not yet tested: UdpAppender
  <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
    <param name="RemoteAddress" value="127.0.0.1" />
    <param name="RemotePort" value="5001" />
    <layout type="log4net.Layout.XmlLayout">
      <locationInfo value="true" />
    </layout>
  </appender>
   -->

  <appender name="AspTrace" type="log4net.Appender.AspNetTraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate [%-5thread] [%-5level] %logger - %message - %property{caller}%newline%exception" />
    </layout>
  </appender>

  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <appendToFile value="true" />
    <file value="c:\Logs\ig.log4net.log" />
    <datePattern value=".yyyyMMdd" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="2MB" />
    <countDirection value="1" />
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate [%-5thread] [%-5level] %logger - %message - %property{caller}%newline%exception" />
    </layout>
  </appender>

  <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
    <param name="LogName" value="ig.log4net" />
    <param name="ApplicationName" value="ig.log4net" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate [%-5thread] [%-5level] %logger - %message - %property{caller}%newline%exception" />
    </layout>
  </appender>

  
  <!-- Custom selfmade Appenders -->

  <appender name="Mail" type="ig.log4net.Logging.Appenders.MailNotificationAppender, ig.log4net.Logging">
 
    <!-- sender configuration -->
    <MaxSubjectLength          value="100" />
    <MaxBodyLengthForLogging   value="200" />
    <SmtpHost                  value="smtp.domain.de" />
    <SmtpPort                  value="25" />
    <SmtpLogin                 value="username" />
    <SmtpPassword              value="password" />
    <SmtpSender                value="mysystem@sender.de" />
      
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate [%-5thread] [%-5level] %logger - %message" />
    </layout>

    <filter type="log4net.Filter.PropertyFilter">
      <key value="notifyEMailRecipients" />
      <stringToMatch value="1" />
      <acceptOnMatch value="true" />
    </filter>

    <filter type="log4net.Filter.DenyAllFilter" />

  </appender>

  <appender name="BlobStorage" type="ig.log4net.Logging.Appenders.AzureBlobStorageAppender, ig.log4net.Logging">
    <AzureStorageConnectionString value="..." />
    <BlobContainerReferenceName value="..." />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate [%-5thread] [%-5level] %logger - %message - %property{caller}%newline%exception" />
    </layout>

    <layout type="log4net.Layout.SimpleLayout" />
    <!-- no more config requried, the appender will do the rest programmatically -->
  </appender>


</log4net>
